*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 350px;
    border: 1px solid black;
}

.atributo_one, .atributo_two  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

#imagenes_pokemon  {
    height: 150px;
    width: 150px;
}

#imagenes_pokemon img   {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
